.wrapper {
  height: 100vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.wrapper button {
  padding: 10px 20px;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.accourdian {
  width: 500px;
}

.item {
  background: #614101;
  margin-bottom: 10px;
  padding: 10px 20px;
  box-shadow: 0 0 2px #614101;
}

.title {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content {
  color: white;
  height: auto;
}

p {
  color: white;
}
