* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.wrapper {
  height: 100vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.wrapper button {
  padding: 10px 20px;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.wrapper button:hover {
  padding: 10px 25px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: bold;
  font-size: 1.205rem;
  cursor: pointer;
}

.accourdian {
  width: 500px;
}

.item {
  background: #614101;
  margin-bottom: 10px;
  padding: 30px 20px;
  box-shadow: 0 0 2px #614101;
}

.title {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content {
  color: white;
  height: auto;
}

p {
  color: white;
  margin-top: 20px;
}
